.NavigationItems{

	margin: 0;
	padding:0;
	list-style: none;
	display: flex;
	flex-flow:column;
	align-items: center;
	height:100%;

}
/*
.workoutMenuContainer{

	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;


}*/



.workoutControls{

	display: block;
	width:100%;
	padding-top:15px;
	padding-bottom:15px;

}




@media (min-width: 813px){

	.NavigationItems{

		flex-flow:row;

	}

	.workoutControls{

		display: none;
	

	}



}